<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список книг</title>
</head>
<body>
    <h1>Список книг</h1>
    <ul>
        {% for book in books %}
            <li>
                <h2>{{ book.name }}</h2>
                <p>{{ book.description }}</p>
                <p>Автор: {{ book.author }}</p>
                <p>Цена: {{ book.price }} руб.</p>
                {% if book.image %}
                    <img src="{{ book.image.url }}" alt="{{ book.name }}" width="150">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>